.slider {
    position: relative;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .image {
    width: 100%;
    height: 550px;
    border-radius: 10px;
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
  .pBody{
    display: flex;
    width: 60%;
    margin: 10rem auto;
   justify-content: space-around;
    
  
  }
  .sideImage{

    height: 20rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
   
  }
  .sideImage>img{
    width: 3rem;
   cursor: pointer;
  }
  .pDetails{
  
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }
 *{
    letter-spacing: 2px;
 }
 select{
    padding: 5px;
 }
 button{
    background-color: green;
    color: aliceblue;
    border: none;
    padding: 10px 3rem;

 }
 .pDetails>:nth-child(6){
    border: 0.5px solid rgb(83, 83, 83);
    padding: 20px;
 }
.extraD{
    display: flex;
    width: 60%;
    margin: 10rem auto;
   justify-content: space-around;
}

.footCarousal{
   
    height: 35vh;
    display: flex;
    width: 60%;
    margin: 10rem auto;
    flex-direction: column;
}
.footCarousal>div{
    display: flex;
   
    width: 70%;
    overflow: scroll;
    overflow-y: hidden;
    gap: 2rem;
    margin: auto;
}
.footCarousal>div>img{
  width: 27%;
}
.footCarousal>div::-webkit-scrollbar{
    display: none;
}